<a href="https://colab.research.google.com/github/andmansim/proyecto_bigdata_Andrea_Manuel_Simon/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''

calcular la media y la desviación estándar de cada elemento del conjunto de
datos. Los resultados obtenidos deben ir acompañados de unas conclusiones las cuales
estarán basadas en los datos mostrados y podrán contener una parte subjetiva en cuanto a
interpretación de los mismos.
Una vez esto haremos un análisis de la correlación cuyo resultado debe ser una matriz de
correlación de datos que represente de qué manera están relacionadas las diferentes
variables. Para llevar a cabo la matriz de correlación, es necesario que configuremos las
características o columnas con los tipos necesarios y así poder realizar su cálculo. Estas
transformaciones tendremos que reflejarlas en el documento final. No es necesario
comentar cada uno de los cruces de relaciones de datos, pero si tendrás que escoger los 10
elementos más importantes y argumentar los resultados obtenidos. Estas conclusiones
tendrán que estar basadas en los datos mostrados y pueden contener una parte subjetiva
en cuanto a interpretación de los mismos

'''

In [1]:
import dask.dataframe as dd
import os 
import warnings 

warnings.filterwarnings('ignore')

In [2]:

df = dd.read_csv(os.path.join('air_traffic_data1.csv')).compute()
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  object
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  object
 9   Terminal                     15007 non-null  object
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  object
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  object
dtypes: int64(4), object(12)
memory usage: 1.8+ MB

In [4]:
def val_unicos(dato):
  a = df[dato].unique()
  print(dato, df[dato].unique())
  return a
ba =val_unicos('Boarding Area')
pcc = val_unicos('Price Category Code')
atc =val_unicos('Activity Type Code')
t = val_unicos('Terminal')
gs = val_unicos('GEO Summary')
aatc = val_unicos('Adjusted Activity Type Code')
m = val_unicos('Month')

Boarding Area ['B' 'G' 'A' 'E' 'C' 'F' 'Other' 'D']
Price Category Code ['Low Fare' 'Other']
Activity Type Code ['Deplaned' 'Enplaned' 'Thru / Transit']
Terminal ['Terminal 1' 'International' 'Terminal 3' 'Other' 'Terminal 2']
GEO Summary ['Domestic' 'International']
Adjusted Activity Type Code ['Deplaned' 'Enplaned' 'Thru / Transit * 2']
Month ['July' 'August' 'September' 'October' 'November' 'April' 'December'
 'January' 'February' 'March' 'May' 'June']

In [5]:
#Vamos a pasar algunos datos str a int
#price Category Code: 0 = low, 1 = other
#Geo Summary: 0 = Domestic, 1 = International
#Adjusted Activity Type Code: 0 = deplaned, 1 = Enplaned, 2 = Thru/Transit * 2
#Terminal: 0 = International, 1 =Terminal 1, 2 = Terminal 2, 3 = Terminal 3, 4 = Other

def cambio(a, b, c, d, e, dato):
  if dato != 'Month':
    for i in range(len(df)):
      if df[dato][i] == a:
        df[dato][i] = 0
      elif df[dato][i] == b:
        df[dato][i] = 1
      elif df[dato][i] == c:
        df[dato][i] = 2
      elif df[dato][i] == d:
        df[dato][i] = 3
      elif df[dato][i] == e:
        df[dato][i] = 4
  else:
    for i in range(len(df)):
      if df[dato][i] == 'January':
        df[dato][i] = 1
      elif df[dato][i] == 'February':
        df[dato][i] = 2
      elif df[dato][i] == 'March':
        df[dato][i] = 3
      elif df[dato][i] == 'April':
        df[dato][i] = 4
      elif df[dato][i] == 'May':
        df[dato][i] = 5
      elif df[dato][i] == 'June':
        df[dato][i] = 6
      elif df[dato][i] == 'July':
        df[dato][i] = 7
      elif df[dato][i] == 'August':
        df[dato][i] = 8
      elif df[dato][i] == 'September':
        df[dato][i] = 9
      elif df[dato][i] == 'October':
        df[dato][i] = 10
      elif df[dato][i] == 'November':
        df[dato][i] = 11
      elif df[dato][i] == 'December':
        df[dato][i] = 12
  df[dato] =df[dato].astype(int)
cambio(pcc[0], pcc[1], None, None,None, 'Price Category Code')
cambio(gs[0], gs[1],None, None, None, 'GEO Summary')
cambio(aatc[0], aatc[1], aatc[2], None, None,'Adjusted Activity Type Code')
cambio(t[0], t[1], t[2], t[3], t[4], 'Terminal')
cambio(None, None, None, None, None, 'Month')

print(df.head())

   Activity Period Operating Airline Operating Airline IATA Code  \
0           200507      ATA Airlines                          TZ
1           200507      ATA Airlines                          TZ
2           200507      ATA Airlines                          TZ
3           200507       Air Canada                           AC
4           200507       Air Canada                           AC

  Published Airline Published Airline IATA Code  GEO Summary GEO Region  \
0      ATA Airlines                          TZ            0         US
1      ATA Airlines                          TZ            0         US
2      ATA Airlines                          TZ            0         US
3       Air Canada                           AC            1     Canada
4       Air Canada                           AC            1     Canada

  Activity Type Code  Price Category Code  Terminal Boarding Area  \
0           Deplaned                    0         0             B
1           Enplaned                    0         0             B
2     Thru / Transit                    0         0             B
3           Deplaned                    1         0             B
4           Enplaned                    1         0             B

   Passenger Count  Adjusted Activity Type Code  Adjusted Passenger Count  \
0            27271                            0                     27271
1            29131                            1                     29131
2             5415                            2                     10830
3            35156                            0                     35156
4            34090                            1                     34090

   Year  Month
0  2005      7
1  2005      7
2  2005      7
3  2005      7
4  2005      7

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  int64
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  int64
 9   Terminal                     15007 non-null  int64
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  int64
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  int64
dtypes: int64(9), object(7)
memory usage: 1.8+ MB

In [16]:
#calcular la media y la desviación estándar
print(df.mean())
print(df.groupby('Boarding Area').mean())
print(df.groupby('GEO Region').mean())
print(df.groupby('Operating Airline').mean())

Activity Period                201045.073366
GEO Summary                         0.613714
Price Category Code                 0.872060
Terminal                            1.000200
Passenger Count                 29240.521090
Adjusted Activity Type Code         0.590125
Adjusted Passenger Count        29331.917105
Year                             2010.385220
Month                               6.551343
dtype: float64
               Activity Period  GEO Summary  Price Category Code  Terminal  \
Boarding Area
A                201074.682488     0.847656             0.879809  0.996172
B                200976.570998     0.108379             0.613648  0.000000
C                200992.599349     0.000000             0.820847  0.000000
D                201346.314815     0.185185             0.444444  4.000000
E                200917.158145     0.205707             0.970273  2.000000
F                201035.737110     0.445171             0.955701  2.000000
G                201064.539329     0.931112             0.990982  1.000000
Other            200725.740741     0.074074             1.000000  3.000000

               Passenger Count  Adjusted Activity Type Code  \
Boarding Area
A                 11115.767656                     0.505837
B                 33804.871049                     0.639739
C                 34423.159609                     0.542345
D                105124.197531                     0.592593
E                 48617.014269                     0.689655
F                100600.343500                     0.730574
G                 14432.325651                     0.620240
Other                 7.407407                     0.666667

               Adjusted Passenger Count         Year     Month
Boarding Area
A                          11140.662392  2010.681148  6.567656
B                          33885.257903  2009.700452  6.525840
C                          34444.986156  2009.860749  6.524430
D                         105124.197531  2013.398148  6.500000
E                          48653.051130  2009.105826  6.575505
F                         101086.082789  2010.291939  6.543210
G                          14521.331162  2010.579910  6.548347
Other                          7.814815  2007.185185  7.222222
                     Activity Period  GEO Summary  Price Category Code  \
GEO Region
Asia                   201046.193706          1.0             0.999389
Australia / Oceania    200993.457259          1.0             0.997286
Canada                 201070.151622          1.0             0.981664
Central America        201072.277372          1.0             1.000000
Europe                 201073.937769          1.0             0.999043
Mexico                 201065.279821          1.0             0.874439
Middle East            201262.476636          1.0             0.990654
South America          201193.266667          1.0             1.000000
US                     201018.968432          0.0             0.698810

                     Terminal  Passenger Count  Adjusted Activity Type Code  \
GEO Region
Asia                 1.001833     13435.004583                     0.541399
Australia / Oceania  1.000000      6417.016282                     0.675712
Canada               1.423836      9777.968265                     0.583216
Central America      1.000000      4946.715328                     0.500000
Europe               1.000000     12755.652465                     0.564864
Mexico               1.131839      7173.620628                     0.673543
Middle East          1.000000      8658.612150                     0.500000
South America        1.000000      2786.011111                     0.500000
US                   0.870450     58330.343454                     0.610488

                     Adjusted Passenger Count         Year     Month
GEO Region
Asia                             13508.552704  2010.396578  6.535900
Australia / Oceania               6495.104478  2009.869742  6.483039
Canada                            9803.791255  2010.635402  6.611425
Central America                   4946.715328  2010.656934  6.583942
Europe                           12779.055050  2010.673528  6.584969
Mexico                            7250.898655  2010.588341  6.445740
Middle East                       8658.612150  2012.560748  6.401869
South America                     2786.011111  2011.866667  6.600000
US                               58485.878385  2010.124030  6.565465
                   Activity Period  GEO Summary  Price Category Code  \
Operating Airline
ATA Airlines         200586.363636     0.068182                  0.0
Aer Lingus           201151.469388     1.000000                  1.0
Aeromexico           201207.533333     1.000000                  1.0
Air Berlin           201107.500000     1.000000                  1.0
Air Canada           201123.497268     1.000000                  1.0
...                            ...          ...                  ...
Virgin Atlantic      201043.744186     1.000000                  1.0
WestJet Airlines     201125.844660     1.000000                  1.0
World Airways        201008.333333     0.666667                  1.0
XL Airways France    201339.096774     1.000000                  1.0
Xtra Airways         200608.000000     0.000000                  1.0

                   Terminal  Passenger Count  Adjusted Activity Type Code  \
Operating Airline
ATA Airlines       0.340909      8744.636364                     0.909091
Aer Lingus         1.000000      4407.183673                     0.500000
Aeromexico         1.000000      5463.822222                     0.500000
Air Berlin         1.000000      2320.750000                     0.500000
Air Canada         1.251366     18251.560109                     0.500000
...                     ...              ...                          ...
Virgin Atlantic    1.000000      9847.104651                     0.500000
WestJet Airlines   1.000000      5338.155340                     0.495146
World Airways      1.000000       261.666667                     0.666667
XL Airways France  1.000000      2223.161290                     0.548387
Xtra Airways       1.000000        73.000000                     0.500000

                   Adjusted Passenger Count         Year     Month
Operating Airline
ATA Airlines                    9661.659091  2005.795455  6.818182
Aer Lingus                      4407.183673  2011.448980  6.571429
Aeromexico                      5463.822222  2012.011111  6.422222
Air Berlin                      2320.750000  2011.000000  7.500000
Air Canada                     18251.560109  2011.169399  6.557377
...                                     ...          ...       ...
Virgin Atlantic                 9847.104651  2010.372093  6.534884
WestJet Airlines                5338.155340  2011.184466  7.398058
World Airways                    261.666667  2010.000000  8.333333
XL Airways France               2240.129032  2013.322581  6.838710
Xtra Airways                      73.000000  2006.000000  8.000000

[77 rows x 9 columns]

In [12]:
print(df.std())
print(df.groupby('Boarding Area').std())
print(df.groupby('GEO Region').std())
print(df.groupby('Operating Airline').std())

Activity Period                  313.336196
GEO Summary                        0.486914
Price Category Code                0.334034
Terminal                           0.751869
Passenger Count                58319.509284
Adjusted Activity Type Code        0.603748
Adjusted Passenger Count       58284.182219
Year                               3.137589
Month                              3.464354
dtype: float64
               Activity Period  GEO Summary  Price Category Code  Terminal  \
Boarding Area
A                   314.640882     0.359389             0.325216  0.061756
B                   294.255947     0.310937             0.487035  0.000000
C                   305.946668     0.000000             0.383637  0.000000
D                   151.640665     0.389049             0.497673  0.000000
E                   293.286164     0.404458             0.169933  0.000000
F                   307.903263     0.497165             0.205834  0.000000
G                   313.749343     0.253295             0.094546  0.000000
Other               187.786620     0.266880             0.000000  0.000000

               Passenger Count  Adjusted Activity Type Code  \
Boarding Area
A                 13624.028630                     0.524673
B                 38938.939200                     0.627088
C                 40149.197576                     0.549726
D                 62710.950791                     0.492112
E                 71298.023217                     0.676123
F                139056.322983                     0.702489
G                 16139.631657                     0.641480
Other                12.090235                     0.620174

               Adjusted Passenger Count      Year     Month
Boarding Area
A                          13611.953204  3.150962  3.442214
B                          38879.405881  2.946662  3.481947
C                          40131.604526  3.063467  3.462486
D                          62710.950791  1.523438  3.457392
E                          71273.692744  2.938169  3.470875
F                         138737.780638  3.083225  3.488944
G                          16078.628004  3.141470  3.477049
Other                         12.171963  1.881837  3.619746
                     Activity Period  GEO Summary  Price Category Code  \
GEO Region
Asia                      313.677214          0.0             0.024716
Australia / Oceania       298.768639          0.0             0.052058
Canada                    320.614235          0.0             0.134209
Central America           324.778464          0.0             0.000000
Europe                    316.598582          0.0             0.030934
Mexico                    317.481441          0.0             0.331502
Middle East               223.126076          0.0             0.096446
South America             114.173414          0.0             0.000000
US                        309.875567          0.0             0.458815

                     Terminal  Passenger Count  Adjusted Activity Type Code  \
GEO Region
Asia                 0.055253     16188.148776                     0.550794
Australia / Oceania  0.000000      2799.840650                     0.673141
Canada               0.673248      7833.110588                     0.632389
Central America      0.000000      1220.840313                     0.500915
Europe               0.000000      8634.076412                     0.576296
Mexico               0.748199      5336.223002                     0.654476
Middle East          0.000000      2732.719518                     0.501172
South America        0.000000       396.758651                     0.502801
US                   1.085994     84951.316640                     0.620626

                     Adjusted Passenger Count      Year     Month
GEO Region
Asia                             16147.810667  3.141101  3.491609
Australia / Oceania               2650.383265  2.992176  3.481324
Canada                            7805.730644  3.210175  3.414744
Central America                   1220.840313  3.251234  3.544882
Europe                            8602.128044  3.170094  3.399006
Mexico                            5274.346847  3.179553  3.498072
Middle East                       2732.719518  2.235764  3.625315
South America                      396.758651  1.153402  3.556289
US                               84859.991540  3.102956  3.465904
                   Activity Period  GEO Summary  Price Category Code  \
Operating Airline
ATA Airlines             83.311992     0.254972                  0.0
Aer Lingus              331.485075     0.000000                  0.0
Aeromexico              218.109152     0.000000                  0.0
Air Berlin               82.825979     0.000000                  0.0
Air Canada              298.821335     0.000000                  0.0
...                            ...          ...                  ...
Virgin Atlantic         312.743907     0.000000                  0.0
WestJet Airlines        299.812711     0.000000                  0.0
World Airways           175.514482     0.577350                  0.0
XL Airways France       113.622872     0.000000                  0.0
Xtra Airways              0.000000     0.000000                  0.0

                   Terminal  Passenger Count  Adjusted Activity Type Code  \
Operating Airline
ATA Airlines       0.525763      8883.122532                     0.801690
Aer Lingus         0.000000      1589.142701                     0.502571
Aeromexico         0.000000      3718.871516                     0.501395
Air Berlin         0.000000       752.846346                     0.507093
Air Canada         0.565865      8036.226729                     0.500684
...                     ...              ...                          ...
Virgin Atlantic    0.000000      2019.991756                     0.500972
WestJet Airlines   0.000000      2858.033260                     0.502421
World Airways      0.000000         8.326664                     0.577350
XL Airways France  0.000000      1146.148277                     0.567962
Xtra Airways       0.000000         0.000000                     0.707107

                   Adjusted Passenger Count      Year     Month
Operating Airline
ATA Airlines                    8595.727324  0.851252  3.718419
Aer Lingus                      1589.142701  3.318559  3.470049
Aeromexico                      3718.871516  2.184222  3.431623
Air Berlin                       752.846346  0.828079  1.732051
Air Canada                      8036.226729  2.991997  3.439614
...                                     ...       ...       ...
Virgin Atlantic                 2019.991756  3.131538  3.488829
WestJet Airlines                2858.033260  3.002442  2.219962
World Airways                      8.326664  1.732051  2.309401
XL Airways France               1123.862588  1.136870  1.157491
Xtra Airways                       0.000000  0.000000  0.000000

[77 rows x 9 columns]

Conclusiones: Con estos resultados podemos ver que hubo más vuelos durante los meses de Junio y Julio en 2010. Al igual que volaron al rededor de 30 mil pasajeros en Domestic y en other Category Code.

La gran mayoría de los pasajeros vuelan en Bording Area D (low category), en International, a US y con American Airline.

In [ ]:
#análisis de la correlación cuyo resultado debe ser una matriz de correlación de datos que represente 
#de qué manera están relacionadas las diferentes variables
df.corr()

,Activity Period,GEO Summary,Price Category Code,Terminal,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
Activity Period,1.000000,0.066100,-0.005754,0.103760,0.060311,-0.052450,0.059336,0.999940,-0.116571
GEO Summary,0.066100,1.000000,0.411498,0.136915,-0.395743,-0.026760,-0.396856,0.066046,-0.003234
Price Category Code,-0.005754,0.411498,1.000000,0.096685,-0.065047,0.001004,-0.064661,-0.005683,-0.005725
Terminal,0.103760,0.136915,0.096685,1.000000,0.260570,0.036001,0.261506,0.103611,0.000776
Passenger Count,0.060311,-0.395743,-0.065047,0.260570,1.000000,-0.071423,0.999941,0.060069,0.014521
Adjusted Activity Type Code,-0.052450,-0.026760,0.001004,0.036001,-0.071423,1.000000,-0.067804,-0.052364,-0.001360
Adjusted Passenger Count,0.059336,-0.396856,-0.064661,0.261506,0.999941,-0.067804,1.000000,0.059096,0.014503
Year,0.999940,0.066046,-0.005683,0.103611,0.060069,-0.052364,0.059096,1.000000,-0.127455
Month,-0.116571,-0.003234,-0.005725,0.000776,0.014521,-0.001360,0.014503,-0.127455,1.000000

Conclusiones: Podemos ver que los datos más relacionados son: Year - GEO Summary, GEO Summary - Price Category Code, GEO Summary - Passerger Count. 
Estos resultados nos hacen pensar que influye bastante si es Domestic o International.

In [ ]:
#escoger los 10 elementos más importantes y argumentar los resultados obtenidos
'''
Los elementos más importantes de este csv son: Month, Year, Passenger Count, Price Category Code, 
Geo Summary, Adjusted Activity Type Code, Terminal, Boarding Area, Geo Region y Operating Airlines. 

En resumen, tenemos que ha habido una maor concentración de vuelos en Junio, Julio durante 2010. 
Influye bastante si van a viajar e Domestic o International, aunque la gran mayoría prefiere International donde suelen ir a US,
usando American Airlines. También que los pasajeros que están en el área D suelen tener vuelos de low price.
'''


#Vamos a pasar algunos datos str a int
#price Category Code: 0 = low, 1 = other
#Geo Summary: 0 = Domestic, 1 = International
#Adjusted Activity Type Code: 0 = deplaned, 1 = Enplaned, 2 = Thru/Transit * 2
#Terminal: 0 = International, 1 =Terminal 1, 2 = Terminal 2, 3 = Terminal 3, 4 = Other

Boarding Area: E, G, other en other (price category coder). D en low Category Code
Domestic : C, B, other. LA gran mayoría va en la Terminal Internacional o en la 2. Más pasajeros en la D y menos en other

geo region: Casi todos en Internaconal,y other price category code, terminal 1. Más pasajeros va  US.

operating Airlines: la mayoría son Internacionales, con price other, por la terminal 1, la aerolnea con más pasajeros es American Airline


REVISAR