<a href="https://colab.research.google.com/github/andmansim/proyecto_bigdata_Andrea_Manuel_Simon/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''

calcular la media y la desviación estándar de cada elemento del conjunto de
datos. Los resultados obtenidos deben ir acompañados de unas conclusiones las cuales
estarán basadas en los datos mostrados y podrán contener una parte subjetiva en cuanto a
interpretación de los mismos.
Una vez esto haremos un análisis de la correlación cuyo resultado debe ser una matriz de
correlación de datos que represente de qué manera están relacionadas las diferentes
variables. Para llevar a cabo la matriz de correlación, es necesario que configuremos las
características o columnas con los tipos necesarios y así poder realizar su cálculo. Estas
transformaciones tendremos que reflejarlas en el documento final. No es necesario
comentar cada uno de los cruces de relaciones de datos, pero si tendrás que escoger los 10
elementos más importantes y argumentar los resultados obtenidos. Estas conclusiones
tendrán que estar basadas en los datos mostrados y pueden contener una parte subjetiva
en cuanto a interpretación de los mismos

'''

In [31]:
import dask.dataframe as dd
import os 
import warnings 

warnings.filterwarnings('ignore')

In [32]:

df = dd.read_csv(os.path.join('air_traffic_data1.csv')).compute()
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  object
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  object
 9   Terminal                     15007 non-null  object
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  object
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  object
dtypes: int64(4), object(12)
memory usage: 1.8+ MB

In [34]:
def val_unicos(dato):
  a = df[dato].unique()
  print(dato, df[dato].unique())
  return a
ba =val_unicos('Boarding Area')
pcc = val_unicos('Price Category Code')
atc =val_unicos('Activity Type Code')
t = val_unicos('Terminal')
gs = val_unicos('GEO Summary')
aatc = val_unicos('Adjusted Activity Type Code')

Boarding Area ['B' 'G' 'A' 'E' 'C' 'F' 'Other' 'D']
Price Category Code ['Low Fare' 'Other']
Activity Type Code ['Deplaned' 'Enplaned' 'Thru / Transit']
Terminal ['Terminal 1' 'International' 'Terminal 3' 'Other' 'Terminal 2']
GEO Summary ['Domestic' 'International']
Adjusted Activity Type Code ['Deplaned' 'Enplaned' 'Thru / Transit * 2']

In [41]:
#Vamos a pasar algunos datos str a int
#price Category Code: 0 = low, 1 = other
#Geo Summary: 0 = Domestic, 1 = International
#Adjusted Activity Type Code: 0 = deplaned, 1 = Enplaned, 2 = Thru/Transit * 2
#Terminal: 0 = International, 1 =Terminal 1, 2 = Terminal 2, 3 = Terminal 3, 4 = Other

def cambio(a, b, c, d, e, dato):
  for i in range(len(df)):
    if df[dato][i] == a:
      df[dato][i] = 0
    elif df[dato][i] == b:
      df[dato][i] = 1
    elif df[dato][i] == c:
      df[dato][i] = 2
    elif df[dato][i] == d:
      df[dato][i] = 3
    elif df[dato][i] == e:
      df[dato][i] = 4
  df[dato] =df[dato].astype(int)
cambio(pcc[0], pcc[1], None, None,None, 'Price Category Code')
cambio(gs[0], gs[1],None, None, None, 'GEO Summary')
cambio(aatc[0], aatc[1], aatc[2], None, None,'Adjusted Activity Type Code')
cambio(t[0], t[1], t[2], t[3], t[4], 'Terminal')

print(df.head())

   Activity Period Operating Airline Operating Airline IATA Code  \
0           200507      ATA Airlines                          TZ
1           200507      ATA Airlines                          TZ
2           200507      ATA Airlines                          TZ
3           200507       Air Canada                           AC
4           200507       Air Canada                           AC

  Published Airline Published Airline IATA Code  GEO Summary GEO Region  \
0      ATA Airlines                          TZ            0         US
1      ATA Airlines                          TZ            0         US
2      ATA Airlines                          TZ            0         US
3       Air Canada                           AC            1     Canada
4       Air Canada                           AC            1     Canada

  Activity Type Code  Price Category Code  Terminal Boarding Area  \
0           Deplaned                    0         0             B
1           Enplaned                    0         0             B
2     Thru / Transit                    0         0             B
3           Deplaned                    1         0             B
4           Enplaned                    1         0             B

   Passenger Count  Adjusted Activity Type Code  Adjusted Passenger Count  \
0            27271                            0                     27271
1            29131                            1                     29131
2             5415                            2                     10830
3            35156                            0                     35156
4            34090                            1                     34090

   Year Month
0  2005  July
1  2005  July
2  2005  July
3  2005  July
4  2005  July

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  int64
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  int64
 9   Terminal                     15007 non-null  int64
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  int64
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  object
dtypes: int64(8), object(8)
memory usage: 1.8+ MB

In [43]:
#calcular la media y la desviación estándar
df.mean()

Activity Period                201045.073366
GEO Summary                         0.613714
Price Category Code                 0.872060
Terminal                            1.000200
Passenger Count                 29240.521090
Adjusted Activity Type Code         0.590125
Adjusted Passenger Count        29331.917105
Year                             2010.385220
dtype: float64

In [ ]:
#análisis de la correlación cuyo resultado debe ser una matriz de correlación de datos que represente 
#de qué manera están relacionadas las diferentes variables

In [ ]:
#escoger los 10 elementos más importantes y argumentar los resultados obtenidos