<a href="https://colab.research.google.com/github/andmansim/proyecto_bigdata_Andrea_Manuel_Simon/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
import dask.dataframe as dd
import dask.bag as db
import os

In [127]:
df = dd.read_csv(os.path.join('air_traffic_data1.csv')).compute()
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15007 entries, 0 to 15006
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              15007 non-null  int64
 1   Operating Airline            15007 non-null  object
 2   Operating Airline IATA Code  14953 non-null  object
 3   Published Airline            15007 non-null  object
 4   Published Airline IATA Code  14953 non-null  object
 5   GEO Summary                  15007 non-null  object
 6   GEO Region                   15007 non-null  object
 7   Activity Type Code           15007 non-null  object
 8   Price Category Code          15007 non-null  object
 9   Terminal                     15007 non-null  object
 10  Boarding Area                15007 non-null  object
 11  Passenger Count              15007 non-null  int64
 12  Adjusted Activity Type Code  15007 non-null  object
 13  Adjusted Passenger Count     15007 non-null  int64
 14  Year                         15007 non-null  int64
 15  Month                        15007 non-null  object
dtypes: int64(4), object(12)
memory usage: 1.8+ MB

In [108]:
#¿Cuántas compañías diferentes aparecen en el fichero?

a = df.groupby('Published Airline IATA Code').count()
company =list(a.index)
print(f'Hay {len(company)} compañias')

Hay 64 compañias

In [109]:
#¿Cuántos pasajeros tienen de media los vuelos de cada compañía?
b = df.groupby('Published Airline IATA Code').mean()
media_pasajeros = list([b['Passenger Count']])
print(media_pasajeros)

[Published Airline IATA Code
4T      312.625000
5Y       34.000000
9W     4280.312500
A8        5.000000
AA    84724.348558
          ...
WN    81188.158576
WO      261.666667
WS     5338.155340
XP       73.000000
YX     3883.000000
Name: Passenger Count, Length: 64, dtype: float64]

<ipython-input-109-c5fed84182c7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  b = df.groupby('Published Airline IATA Code').mean()

In [128]:
#Eliminaremos los registros duplicados por el campo “GEO Región”, manteniendo únicamente aquel con mayor número de pasajeros.
df1 = df.copy()
c = df.groupby('GEO Region')['Passenger Count'].max()
l = list(c)
l1 = list(c.index)

borrar = []
for i in range (len(df['Passenger Count'])):
    g = l1.index(df['GEO Region'][i])
    if df['Passenger Count'][i] != l[g]:
      borrar.append(i)

df =df.drop(borrar)
df.reset_index(inplace = True)
print(df)

   index  Activity Period                 Operating Airline  \
0   2872           200708                       Air Canada
1   2973           200708  United Airlines - Pre 07/01/2013
2   7737           201101                          LAN Peru
3  11331           201308                   United Airlines
4  12590           201407                   United Airlines
5  12903           201410                              TACA
6  13191           201501                   Air New Zealand
7  13945           201507                         Emirates
8  14008           201507                   United Airlines

  Operating Airline IATA Code                 Published Airline  \
0                          AC                       Air Canada
1                          UA  United Airlines - Pre 07/01/2013
2                          LP                          LAN Peru
3                          UA                   United Airlines
4                          UA                   United Airlines
5                          TA                              TACA
6                          NZ                   Air New Zealand
7                          EK                         Emirates
8                          UA                   United Airlines

  Published Airline IATA Code    GEO Summary           GEO Region  \
0                          AC  International               Canada
1                          UA  International                 Asia
2                          LP  International        South America
3                          UA       Domestic                   US
4                          UA  International               Mexico
5                          TA  International      Central America
6                          NZ  International  Australia / Oceania
7                          EK  International          Middle East
8                          UA  International               Europe

  Activity Type Code Price Category Code       Terminal Boarding Area  \
0           Deplaned               Other     Terminal 3             E
1           Deplaned               Other  International             G
2           Deplaned               Other  International             A
3           Deplaned               Other     Terminal 3             F
4           Deplaned               Other  International             G
5           Deplaned               Other  International             A
6           Enplaned               Other  International             G
7           Deplaned               Other  International             A
8           Deplaned               Other  International             G

   Passenger Count Adjusted Activity Type Code  Adjusted Passenger Count  \
0            39798                    Deplaned                     39798
1            86398                    Deplaned                     86398
2             3685                    Deplaned                      3685
3           659837                    Deplaned                    659837
4            29206                    Deplaned                     29206
5             8970                    Deplaned                      8970
6            12973                    Enplaned                     12973
7            14769                    Deplaned                     14769
8            48136                    Deplaned                     48136

   Year    Month
0  2007   August
1  2007   August
2  2011  January
3  2013   August
4  2014     July
5  2014  October
6  2015  January
7  2015     July
8  2015     July

In [ ]:
#Volcaremos los resultados de los dos puntos anteriores a un CSV.