<a href="https://colab.research.google.com/github/andmansim/proyecto_bigdata_Andrea_Manuel_Simon/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import dask.dataframe as dd
import os

In [3]:
df = dd.read_csv(os.path.join('air_traffic_data1.csv'))
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [22]:
#¿Cuántas compañías diferentes aparecen en el fichero?

a = df.groupby('Published Airline IATA Code').count().compute()
company =list(a.index)
print(company)
#hay 64 compañias

['4T', '5Y', '9W', 'A8', 'AA', 'AB', 'AC', 'AF', 'AI', 'AM', 'AS', 'B6', 'BA', 'BBB', 'BR', 'CA', 'CI', 'CM', 'CX', 'CZ', 'DH', 'DL', 'EI', 'EK', 'EY', 'EZ', 'F9', 'FI', 'FL', 'G4', 'GL', 'HA', 'JL', 'KE', 'KL', 'LH', 'LP', 'LX', 'MU', 'MX', 'NH', 'NK', 'NW', 'NZ', 'OZ', 'PR', 'QF', 'RW', 'SE', 'SK', 'SQ', 'SY', 'TA', 'TK', 'TZ', 'UA', 'US ', 'VS', 'VX', 'WN', 'WO', 'WS', 'XP', 'YX']

In [ ]:
#¿Cuántos pasajeros tienen de media los vuelos de cada compañía?
for i in company:
  df.groupby(i)

In [ ]:
#Eliminaremos los registros duplicados por el campo “GEO Región”, manteniendo únicamente aquel con mayor número de pasajeros.

In [ ]:
#Volcaremos los resultados de los dos puntos anteriores a un CSV.