<a href="https://colab.research.google.com/github/andmansim/proyecto_bigdata_Andrea_Manuel_Simon/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import dask.dataframe as dd
import os

In [76]:
df = dd.read_csv(os.path.join('air_traffic_data1.csv'))
df.head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,27271,Deplaned,27271,2005,July
1,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,29131,Enplaned,29131,2005,July
2,200507,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,5415,Thru / Transit * 2,10830,2005,July
3,200507,Air Canada,AC,Air Canada,AC,International,Canada,Deplaned,Other,Terminal 1,B,35156,Deplaned,35156,2005,July
4,200507,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,Terminal 1,B,34090,Enplaned,34090,2005,July

In [56]:
#¿Cuántas compañías diferentes aparecen en el fichero?

a = df.groupby('Published Airline IATA Code').count().compute()
company =list(a.index)
print(f'Hay {len(company)} compañias')

Hay 64 compañias

In [115]:
#¿Cuántos pasajeros tienen de media los vuelos de cada compañía?
b = df.groupby('Published Airline IATA Code').mean().compute()
media_pasajeros = list( b['Passenger Count'])
print(media_pasajeros)

[312.625, 34.0, 4280.3125, 5.0, 84724.34855769231, 2320.75, 17589.973684210527, 11589.077519379845, 2834.5, 5463.822222222222, 14615.757481940145, 35261.13963963964, 17625.124031007752, 689.3333333333334, 13116.356589147286, 6618.335907335907, 9857.51550387597, 3418.0714285714284, 17121.325581395347, 4321.4375, 6391.3, 38657.06600249066, 4407.183673469388, 9070.866666666667, 6476.088235294118, 2.0, 17787.676923076924, 2799.7, 10569.238938053097, 1516.8125, 107.375, 8282.186046511628, 6470.332046332046, 5678.461240310077, 9221.813953488372, 19301.96511627907, 2786.011111111111, 6061.640287769784, 5498.402777777777, 7993.806451612903, 6385.523255813953, 2921.0416666666665, 26109.25, 7452.339768339768, 5902.961240310077, 10248.635658914729, 4991.2164179104475, 2452.5, 2223.1612903225805, 5865.847222222223, 14746.647286821706, 3992.652, 5066.197674418605, 8162.416666666667, 8744.636363636364, 54259.515724946694, 42251.48648648649, 9847.10465116279, 74405.35359116022, 81188.15857605178, 261.6666666666667, 5338.155339805825, 73.0, 3883.0]

In [110]:
for i in df['Passenger Count']:
  if i == 12973:
    print(df['Passenger Count'].loc(i))

TypeError: ignored

In [95]:
#Eliminaremos los registros duplicados por el campo “GEO Región”, manteniendo únicamente aquel con mayor número de pasajeros.
df1 = df.copy()
c = df.groupby('GEO Region')['Passenger Count'].max().compute()
l = list(c)
l1 = list(c.index)

lista =[]
for i in range(len(l)):
  lista.append([l1[i], l[1]])
print(lista)
borrar = []
u = 0
for i in range (len(df['Passenger Count'])):
  if df['Passenger Count'].iloc[i] in l:
    borrar.append(i)
 


'''  u = u+1
  for j in range(len(l)):
      if df['Passenger Count'] != l[j]:
        borrar.append(u)'''
print(borrar)
'''for i in range(c):
  lista.append([c.iloc[i].index,  c.iloc[i]])
borrar = list([c])
df1 = df.copy()
df = c
print(df)
print(borrar[0])'''

[['Asia', 12973], ['Australia / Oceania', 12973], ['Canada', 12973], ['Central America', 12973], ['Europe', 12973], ['Mexico', 12973], ['Middle East', 12973], ['South America', 12973], ['US', 12973]]

AttributeError: ignored

In [116]:
#Volcaremos los resultados de los dos puntos anteriores a un CSV.